<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Fecha de Estreno</th>
            <th>Cantidad de Publico</th>
            <th>Foto</th>
            <th>Detalle</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pelicula of listadoPeliculas">
            <td>{{pelicula.id}}</td>
            <td>{{pelicula.nombre}}</td>
            <td>{{pelicula.tipo.toLocaleString()}}</td>
            <td>{{pelicula.fechaDeEstreno.toLocaleString()}}</td>
            <td>{{pelicula.cantidadDePublico}}</td>
            <td><img src="{{pelicula.foto}}" alt="poster" [ngStyle]="{'width':'80px'}"></td>
            <td><button type="button" class="btn btn-info  btn-circle" (click)="seleccionarPelicula(pelicula)">Ver
        </button></td>
        </tr>

    </tbody>
</table>