<main>

    <!-- NAVBAR -->
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">UTN</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Peliculas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="actor/alta">Actores</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Opciones</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown03">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
            <form>
              <input class="form-control" type="text" placeholder="Búsqueda" aria-label="Search">
            </form>
          </div>
        </div>
      </nav>
    
    <!-- JUMBOTRON -->  
    <div class="container py-4">
    
        <div class="p-5 mb-4 bg-light rounded-3">
          <h1 class="display-5 fw-bold">{{tipoVista}} de peliculas</h1>
          <div class="container-fluid py-5">
            <app-tabla-pelicula *ngIf="tipoVista=='Tabla'" [listadoPeliculas]="listadoPeliculas" (eventSeleccionarPelicula)="detallarPeliculaSeleccionada($event)"></app-tabla-pelicula>

            <app-pelicula-listado *ngIf="tipoVista=='Listado'" [listadoPeliculas]="listadoPeliculas" (eventSeleccionarPelicula)="detallarPeliculaSeleccionada($event)"></app-pelicula-listado>

            <button class="btn btn-primary btn-lg" type="button" (click)="cambiarVista()">Cambiar vista</button>
          </div>
        </div>
    
        <div class="row align-items-md-stretch">
          <div class="col-md-4">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>Para borrar</h2>
              <p>Los controles necesarios, según la entidad y funcionalidad requerida.</p>
              <button class="btn btn-secondary" type="button">Borrar</button>
            </div>
          </div>
          <div class="col-md-4">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>Detalle</h2>
              <app-pelicula-detalle [peliculaRecibida]="peliculaSeleccionada"></app-pelicula-detalle>
              <br>
              <button class="btn btn-secondary" type="button" (click)="LimpiarDetalle()">Limpiar</button>
            </div>
          </div>
          <div class="col-md-4">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>Modificar</h2>
              <p>Los controles necesarios, según la entidad y funcionalidad requerida.</p>
              <button class="btn btn-secondary" type="button">Guardar cambios</button>
            </div>
          </div>
        </div>
        
        <footer class="pt-3 mt-4 text-muted border-top" style="text-align:center">
            &copy; UTN-FRA 2022
        </footer>
    </div>

</main>